#include <os2.h>
#include "sl.h"


ICON ID_RESOURCE		sl.ico

MENU ID_RESOURCE PRELOAD
{
  SUBMENU "~Module",			IDM_DATASRC
  {
    MENUITEM SEPARATOR
    MENUITEM "~Settings...",		IDM_SETTINGS, MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "~Exit\tF3",		IDM_EXIT, MIS_TEXT
  }

  SUBMENU "~View",			IDM_VIEW
  {
    SUBMENU "Sor~t",			IDM_VIEW_SORT, MIS_TEXT, MIA_DISABLED
    {
      MENUITEM "~Ascending",		IDM_SORT_ASCN, MIS_TEXT
      MENUITEM "~Descending",		IDM_SORT_DESCN, MIS_TEXT
    }
    MENUITEM "Propertie~s",		IDM_PROPERTIES, MIS_TEXT
  }
}

ACCELTABLE ID_ACCELTABLE
{
  VK_F4, IDM_EXIT,     VIRTUALKEY, ALT
  VK_F3, IDM_EXIT,     VIRTUALKEY
  "s",   IDM_SETTINGS, CHAR, ALT
}

STRINGTABLE PRELOAD
{
  IDS_TITLE,		"System load"
  IDS_HOUR_SHORT,	"h."
  IDS_MIN_SHORT,	"min."
  IDS_SEC_SHORT,	"sec."
  IDS_BITS,		"bits"
  IDS_KBIT,		"Kbit"
  IDS_MBIT,		"Mbit"
  IDS_GBIT,		"Gbit"
  IDS_BYTES,		"bytes"
  IDS_KB,		"Kb"
  IDS_MB,		"Mb"
  IDS_GB,		"Gb"
  IDS_TB,		"Tb"
  IDS_PAGE_NO,		"Page %1 of %2"
}

MENU ID_POPUP_MENU
{
  SUBMENU "~Module",			IDM_DATASRC
  {
  }

  MENUITEM "~Help",			IDM_HELP, MIS_TEXT, MIA_DISABLED

  SUBMENU "Sor~t",			IDM_VIEW_SORT, MIS_TEXT, MIA_DISABLED
  {
    MENUITEM "~Ascending",		IDM_SORT_ASCN, MIS_TEXT
    MENUITEM "~Descending",		IDM_SORT_DESCN, MIS_TEXT
  }

  MENUITEM "Propertie~s",		IDM_PROPERTIES, MIS_TEXT
}


DLGTEMPLATE IDD_PROPERTIES
{
  DIALOG "Properties", IDD_PROPERTIES, 10, 10, 230, 195,
          NOT WS_SAVEBITS | FS_SIZEBORDER | WS_CLIPCHILDREN,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_MAXBUTTON | FCF_TASKLIST | FCF_NOBYTEALIGN
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "", IDD_NOTEBOOK, 3, 21, 273, 182,
            WC_NOTEBOOK, BKS_BACKPAGESTR | BKS_MAJORTABTOP | BKS_TABBEDDIALOG |
            WS_GROUP | WS_TABSTOP | WS_VISIBLE
            PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
/*PRESPARAMS PP_BACKGROUNDCOLOR 0*/

    CONTROL "~Undo", IDD_PB_UNDO, 75, 0, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Default", IDD_PB_DEFAULT, 86, 0, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE
    CONTROL "~Help", IDD_PB_HELP, 97, 0, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE
  }
}

DLGTEMPLATE IDD_SETTINGS
{
  DIALOG "Modules", IDD_PROPERTIES, 10, 10, 140, 70,
          NOT WS_SAVEBITS,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "", IDD_LB_MODULES, 5, 5, 85, 60, WC_LISTBOX,
            LS_NOADJUSTPOS | LS_OWNERDRAW | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Up", IDD_PB_DSUP, 95, 53, 40, 12, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Down", IDD_PB_DSDOWN, 95, 37, 40, 12, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Enable", IDD_CB_DSENABLE, 95, 21, 40, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
  }
}
