#include "..\plugin.rc"
#include "cpu.h"

ICON ID_ICON_CPU		"cpu.ico"
ICON ID_ICON_CPUOFF		"cpu-off.ico"

STRINGTABLE PRELOAD
{
  IDS_DS_TITLE		"~CPU"
  IDS_CPU		"CPU"
  IDS_USER		"User"
  IDS_IRQ		"IRQ"
  IDS_TEMP		"Temp."
  IDS_FEATURES		"Sho~w features"
  IDS_ONLINE		"~Online"
  IDS_OFFLINE		"O~ffline"

  IDS_PATHNAME_FIRST_ID + 0	"\\_TZ_.TZ01._TMP"
  IDS_PATHNAME_FIRST_ID + 1	"\\_SB_.PCI0.SBRG.SIOR.HWT1"
}

DLGTEMPLATE IDD_DSPROPERTIES1
{
  DIALOG  "CPU, page 1", IDD_DSPROPERTIES1, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "Please, install CPUTEMP.WPI to display temperature of each CPU.",
            IDD_ST_NEED_DRIVER, 5, 135, 155, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM
          PRESPARAMS PP_FONTNAMESIZE, "8.WarpSans"

    CONTROL "Temperature", IDD_GB_TEMPERATURE, 5, 80, 155, 50, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
    CONTROL "~Celsius (øC)", IDD_RB_TEMP_C, 10, 113, 58, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Fahrenheit (øF)", IDD_RB_TEMP_F, 10, 104, 58, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE
    CONTROL "~ACPI Thermal Zone pathname:", IDD_ST_PATHNAME, 12, 93, 100, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
    CONTROL "",  IDD_CB_PATHNAME, 12, 56, 100, 37, WC_COMBOBOX,
            CBS_DROPDOWN | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "~Test", IDD_PB_TEST, 115, 84, 40, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "~Show real frequency", IDD_CB_REALFREQ, 5, 67, 150, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "Background", IDD_ST_BGCOL, 15, 50, 50, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "Border", IDD_ST_BORDERCOL, 70, 50, 50, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP

    CONTROL "Graph time", IDD_GB_GRAPHTIME, 5, 5, 155, 40, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Slider", IDD_SLID_TIME, 12, 13, 105, 24, WC_SLIDER, 
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_BUTTONSRIGHT | SLS_PRIMARYSCALE1 | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CTLDATA 12, 0, 49, 0, 241, 0
    CONTROL "N min. NN sec.", IDD_ST_GRAPHTIME, 118, 13, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE

    CONTROL "Graph colors", IDD_GB_COLORS, 162, 5, 45, 40, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "IRQ", IDD_ST_IRQCOL, 167, 9, 34, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
  }
}

DLGTEMPLATE IDD_SUCCESSTEMP
{
  DIALOG  "Success", IDD_SUCCESSTEMP, 0, 0, 170, 50, FS_DLGBORDER,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_SCREENALIGN
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "Temperature determined successfully:", IDD_ST_TEMP,
            5, 38, 100, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE | WS_TABSTOP
            PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans Bold"
    CONTROL "", IDD_EF_TEMP, 110, 38, 20, 7, WC_ENTRYFIELD,
            ES_LEFT | WS_VISIBLE | WS_TABSTOP | ES_READONLY
            PRESPARAMS PP_BACKGROUNDCOLOR 0x0000FF00
            PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans Bold"
    CONTROL "Please send e-mail to", IDD_ST_EMAIL,
            5, 28, 60, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE | WS_TABSTOP
    CONTROL "digi@frs.snc.ru", IDD_EF_EMAIL, 65, 28, 50, 7, WC_ENTRYFIELD,
            ES_LEFT | WS_VISIBLE | WS_TABSTOP | ES_READONLY 
            PRESPARAMS PP_BACKGROUNDCOLOR 0x0000FF00
    CONTROL "following line:", IDD_ST_PATHNAME,
            5, 19, 60, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE | WS_TABSTOP
    CONTROL "", IDD_EF_PATHNAME, 65, 19, 96, 7, WC_ENTRYFIELD,
            ES_LEFT | WS_VISIBLE | WS_TABSTOP | ES_READONLY 
            PRESPARAMS PP_BACKGROUNDCOLOR SYSCLR_MENUHILITEBGND
    CONTROL "~Close", IDD_PB_CLOSE, 4, 3, 40, 10, WC_BUTTON,
            BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_TABSTOP
  }
}

DLGTEMPLATE IDD_FEATURES
{
  DIALOG  "CPU features", IDD_FEATURES, 0, 0, 200, 150,
          FS_DLGBORDER | FS_NOBYTEALIGN,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_SIZEBORDER | FCF_MAXBUTTON |
          FCF_CLOSEBUTTON
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "", IDD_MLE_FEATURES, 0, 15, 200, 131, WC_MLE, 
            MLS_READONLY | MLS_WORDWRAP | MLS_VSCROLL | WS_TABSTOP | WS_VISIBLE
    CONTROL "~Select all", IDD_PB_SELALL, 75, 0, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Copy", IDD_PB_COPY, 86, 0, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "C~lose", IDD_PB_CLOSE, 86, 0, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
  }
}

MESSAGETABLE
{
  IDMSG_TZ_OK			"Thermal Zone determined successfully."
  IDMSG_TZ_BAD_PATHNAME		"An invalid character was found in a pathname."
  IDMSG_TZ_NOT_FOUND		"The name was not found in the namespace."
  IDMSG_TZ_INVALID_TYPE 	"The object type is incorrect."
  IDMSG_TZ_ACPI_INCOMP_VER	"This program is not compatible with the version of ACPI that is installed."
  IDMSG_TZ_INVALID_VALUE	"The object contains an invalid value."

  IDMSG_PF_CPUSTRING		"CPU String: %1"
  IDMSG_PF_STEPPINGID		"Stepping ID = %1"
  IDMSG_PF_MODEL		"Model = %1"
  IDMSG_PF_FAMILY		"Family = %1"
  IDMSG_PF_PROCESSORTYPE	"Processor Type = %1"
  IDMSG_PF_EXTENDEDMODEL	"Extended model = %1"
  IDMSG_PF_EXTENDEDFAMILY	"Extended family = %1"
  IDMSG_PF_BRANDINDEX		"Brand Index = %1"
  IDMSG_PF_CLFLUSHCACHELINESIZE "CLFLUSH cache line size = %1"
  IDMSG_PF_LOGICALPROCESSORS	"Logical Processor Count = %1"
  IDMSG_PF_APICPHYSICALID	"APIC Physical ID = %1"
  IDMSG_PF_FEATURESTITLE	"%1The following features are supported:"
  IDMSG_PF_SSE3INSTRUCTIONS	"SSE3"
  IDMSG_PF_MONITORMWAIT		"MONITOR/MWAIT"
  IDMSG_PF_CPLQUALIFIEDDBGSTORE	"CPL Qualified Debug Store"
  IDMSG_PF_VIRTUALMACHINEEXT	"Virtual Machine Extensions"
  IDMSG_PF_ENHINTELSPEEDSTEP	"Enhanced Intel SpeedStep Technology"
  IDMSG_PF_THERMALMONITOR2	"Thermal Monitor 2"
  IDMSG_PF_SUPPLEMENTALSSE3	"Supplemental Streaming SIMD Extensions 3"
  IDMSG_PF_L1CONTEXTID		"L1 Context ID"
  IDMSG_PF_CMPXCHG16B		"CMPXCHG16B Instruction"
  IDMSG_PF_XTPRUPDATECONTROL	"xTPR Update Control"
  IDMSG_PF_PERFDBGCAPABILITYMSR	"Perf\\Debug Capability MSR"
  IDMSG_PF_SSE41EXTENSIONS	"SSE4.1 Extensions"
  IDMSG_PF_SSE42EXTENSIONS	"SSE4.2 Extensions"
  IDMSG_PF_POPCNT		"PPOPCNT Instruction"
  IDMSG_PF_AVX			"AVX Extensions"
  IDMSG_PF_FEATURE1		"x87 FPU On Chip"
  IDMSG_PF_FEATURE2		"Virtual-8086 Mode Enhancement"
  IDMSG_PF_FEATURE3		"Debugging Extensions"
  IDMSG_PF_FEATURE4		"Page Size Extensions"
  IDMSG_PF_FEATURE5		"Time Stamp Counter"
  IDMSG_PF_FEATURE6		"RDMSR and WRMSR Support"
  IDMSG_PF_FEATURE7		"Physical Address Extensions"
  IDMSG_PF_FEATURE8		"Machine Check Exception"
  IDMSG_PF_FEATURE9		"CMPXCHG8B Instruction"
  IDMSG_PF_FEATURE10		"APIC On Chip"
  IDMSG_PF_FEATURE11		"Unknown1"
  IDMSG_PF_FEATURE12		"SYSENTER and SYSEXIT"
  IDMSG_PF_FEATURE13		"Memory Type Range Registers"
  IDMSG_PF_FEATURE14		"PTE Global Bit"
  IDMSG_PF_FEATURE15		"Machine Check Architecture"
  IDMSG_PF_FEATURE16		"Conditional Move/Compare Instruction"
  IDMSG_PF_FEATURE17		"Page Attribute Table"
  IDMSG_PF_FEATURE18		"36-bit Page Size Extension"
  IDMSG_PF_FEATURE19		"Processor Serial Number"
  IDMSG_PF_FEATURE20		"CFLUSH Extension"
  IDMSG_PF_FEATURE21		"Unknown2"
  IDMSG_PF_FEATURE22		"Debug Store"
  IDMSG_PF_FEATURE23		"Thermal Monitor and Clock Ctrl"
  IDMSG_PF_FEATURE24		"MMX Technology"
  IDMSG_PF_FEATURE25		"FXSAVE/FXRSTOR"
  IDMSG_PF_FEATURE26		"SSE Extensions"
  IDMSG_PF_FEATURE27		"SSE2 Extensions"
  IDMSG_PF_FEATURE28		"Self Snoop"
  IDMSG_PF_FEATURE29		"Multithreading Technology"
  IDMSG_PF_FEATURE30		"Thermal Monitor"
  IDMSG_PF_FEATURE31		"Unknown4"
  IDMSG_PF_FEATURE32		"Pending Break Enable"
  IDMSG_PF_LAHF_SAHFAVAILABLE	"LAHF/SAHF in 64-bit mode"
  IDMSG_PF_CMPLEGACY		"Core multi-processing legacy mode"
  IDMSG_PF_SVM			"Secure Virtual Machine"
  IDMSG_PF_EXTAPICSPACE		"Extended APIC Register Space"
  IDMSG_PF_ALTMOVCR8		"AltMovCr8"
  IDMSG_PF_LZCNT		"LZCNT instruction"
  IDMSG_PF_SSE4A		"SSE4A (EXTRQ, INSERTQ, MOVNTSD, MOVNTSS)"
  IDMSG_PF_MISALIGNEDSSE	"Misaligned SSE mode"
  IDMSG_PF_PREFETCH		"PREFETCH and PREFETCHW Instructions"
  IDMSG_PF_SKINITANDDEV		"SKINIT and DEV support"
  IDMSG_PF_SYSCALL_SYSRET	"SYSCALL/SYSRET in 64-bit mode"
  IDMSG_PF_EXECUTEDISABLEBIT	"Execute Disable Bit"
  IDMSG_PF_MMXEXTENSIONS	"Extensions to MMX Instructions"
  IDMSG_PF_FFXSR		"FFXSR"
  IDMSG_PF_1GBSUPPORT		"1GB page support"
  IDMSG_PF_RDTSCP		"RDTSCP instruction"
  IDMSG_PF_64AVAILABLE		"64 bit Technology"
  IDMSG_PF_3DNOWEXT		"3Dnow Ext"
  IDMSG_PF_3DNOW		"3Dnow! instructions"
  IDMSG_PF_NESTEDPAGING		"Nested Paging"
  IDMSG_PF_LBRVISUALIZATION	"LBR Visualization"
  IDMSG_PF_FP128		"FP128 optimization"
  IDMSG_PF_MOVOPTIMIZATION	"MOVU Optimization"
  IDMSG_PF_CPUBRANDSTRING	"CPU Brand String: %1"
  IDMSG_PF_CACHELINESIZE	"Cache Line Size = %1"
  IDMSG_PF_L2ASSOCIATIVITY	"L2 Associativity = %1"
  IDMSG_PF_CACHESIZE		"Cache Size = %1K"

  IDMSG_COPY_FAIL		"Cannot copy file\n%1\nto %2"
  IDMSG_INSTALL_FAIL		"Error while installing a driver. Please add following line to your CONFIG.SYS:\nDEVICE=%1"
  IDMSG_INSTALL_OK		"The driver has been successfully installed. Reboot the system for the changes to take effect."
}
