#include "..\plugin.rc"
#include "sample3.h"

DLGTEMPLATE IDD_DSPROPERTIES
{
  DIALOG  "Sample3", IDD_DSPROPERTIES, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
  {
    CONTROL "Speed:", -1, 10, 30, 50, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP

    CONTROL "~Fast", IDD_RB_FAST, 20, 10, 53, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE | WS_GROUP
    CONTROL "~Slow", IDD_RB_SLOW, 20, 20, 53, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE

    CONTROL "~Undo", IDD_PB_UNDO, 75, 0, 35, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Default", IDD_PB_DEFAULT, 86, 0, 35, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | WS_VISIBLE
  }
}
