#include "..\plugin.rc"
#include "os4irq.h"

ICON ID_ICON_ON			"led-green.ico"
ICON ID_ICON_OFF		"led-off.ico"

DLGTEMPLATE IDD_IRQ
{
  DIALOG  "IRQ", IDD_IRQ, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "IRQ Names", IDD_GB_NAMES, 5, 96, 200, 56, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "~No.", IDD_ST_NO, 10, 134, 10, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_NO, 23, 134, 12, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
    CTLDATA 8, 512, 0, 0
    CONTROL "Name", IDD_ST_NAME, 42, 134, 19, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_NAME, 62, 134, 80, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
    CTLDATA 8, 128, 0, 0
    CONTROL "~Set", IDD_PB_SET, 152, 132, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "", IDD_LB_NAMES, 10, 100, 180, 30, WC_LISTBOX,
            WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "IRQ List", IDD_GB_IRQLIST, 5, 46, 135, 49, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "", IDD_LB_FIELDS, 10, 50, 66, 39, WC_LISTBOX,
            LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Up", IDD_PB_UP, 80, 79, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Down", IDD_PB_DOWN, 80, 68, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Visible", IDD_CB_VISIBLE, 80, 58, 30, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Fixed width", IDD_CB_FIXEDWIDTH, 80, 50, 55, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "Graph colors", IDD_GB_COLORS, 145, 46, 60, 49, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Background", IDD_ST_BGCOL, 150, 75, 50, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "Border", IDD_ST_BORDERCOL, 150, 63, 50, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "Line", IDD_ST_LINECOL, 150, 50, 50, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP

    CONTROL "Graph time", IDD_GB_GRAPHTIME, 5, 5, 200, 40, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Slider", IDD_SLID_TIME, 12, 13, 105, 24, WC_SLIDER, 
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_BUTTONSRIGHT | SLS_PRIMARYSCALE1 | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CTLDATA 12, 0, 49, 0, 241, 0
    CONTROL "N min. NN sec.", IDD_ST_GRAPHTIME, 118, 13, 41, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE

    CONTROL "~Interval:", IDD_ST_INTERVAL, 159, 27, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    PRESPARAMS PP_FOREGROUNDCOLOR, 0x0L
    CONTROL "", IDD_SB_INTERVAL, 159, 16, 24, 12, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_READONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_TABSTOP
    CONTROL "sec.", IDD_ST_SECONDS, 187, 16, 17, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE
  }
}

DLGTEMPLATE IDD_IRQNAME
{
  DIALOG  "IRQ %1 name", IDD_IRQNAME, -42, -6, 114, 12, FS_DLGBORDER,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "", IDD_EF_NAME, 2, 2, 80, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
    CTLDATA 8, 128, 0, 0

    CONTROL "~Set", IDD_PB_SET, 85, 1, 28, 10, WC_BUTTON,
            BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE
  }
}

STRINGTABLE PRELOAD
{
  IDS_FLD_NUM		"IRQ No"
  IDS_FLD_COUNTER	"Counter"
  IDS_FLD_LOAD		"Load"
  IDS_FLD_NAME		"Name"
  IDS_FLD_LED		"Led"
  IDS_FLD_INCREMENT	"Increment"
  IDS_IPS		"Interrupts per sec."
  IDS_INVALID_NUM_TITLE	"Invalid IRQ No."
  IDS_INVALID_NUM_TEXT	"Field ""No."" must contain a positive integer from 0 to 239."
}
