#include "..\plugin.rc"
#include "sysinfo.h"

DLGTEMPLATE IDD_DSPROPERTIES
{
  DIALOG  "DosQuerySysInfo()", IDD_DSPROPERTIES, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "Variables", IDD_GB_VAR, 5, 46, 200, 105, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "",  IDD_CB_VARAVAIL, 12, 52, 105, 88, WC_COMBOBOX,
            CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "~Add", IDD_PB_ADD, 152, 132, 40, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "", IDD_EF_COMMENT, 13, 122, 176, 7, WC_ENTRYFIELD,
            ES_LEFT | WS_VISIBLE | ES_READONLY 
            PRESPARAMS PP_BACKGROUNDCOLOR 0x0000FF00
            CTLDATA 8, 640, 0, 0

    CONTROL "", IDD_LB_VAR, 12, 77, 105, 44, WC_LISTBOX,
            WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Up", IDD_PB_UP, 152, 109, 40, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Down", IDD_PB_DOWN, 152, 97, 40, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Remove", IDD_PB_REMOVE, 152, 85, 40, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Presentation:", IDD_ST_PRESENTATION, 12, 65, 52, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "",  IDD_CB_PRESENTATION, 65, 33, 53, 40, WC_COMBOBOX,
            CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE

    CONTROL "D~escription:", IDD_ST_COMMENTSET, 12, 52, 42, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_COMMENTSET, 55, 52, 105, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
            CTLDATA 8, 640, 0, 0
    CONTROL "~Set", IDD_PB_COMMENTSET, 165, 51, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "Show", IDD_GB_SHOW, 5, 5, 200, 40, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "~Name and description", IDD_RB_SHOW_FULL, 17, 29, 70, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "Na~me", IDD_RB_SHOW_NAME, 17, 19, 70, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE
    CONTROL "De~scription", IDD_RB_SHOW_COMMENT, 17, 9, 70, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE
    CONTROL "~Interval:", IDD_ST_INTERVAL, 159, 27, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    PRESPARAMS PP_FOREGROUNDCOLOR, 0x0L
    CONTROL "", IDD_SB_INTERVAL, 159, 16, 24, 12, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_READONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_TABSTOP
    CONTROL "sec.", IDD_ST_SECONDS, 187, 16, 17, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE

    CONTROL "~Undo", IDD_PB_UNDO, 75, 0, 35, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Default", IDD_PB_DEFAULT, 86, 0, 35, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | WS_VISIBLE
    CONTROL "~Help", IDD_PB_HELP, 97, 0, 35, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | WS_VISIBLE
  }
}

STRINGTABLE PRELOAD
{
  IDS_COPY_NAME      "Copy ~name"
  IDS_COPY_VALUE     "Copy ~value"
}