#include "..\plugin.rc"
#include "net.h"

DLGTEMPLATE IDD_DSPROPERTIES
{
  DIALOG  "Net", IDD_DSPROPERTIES, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "Graph colors", IDD_GB_COLORS, 5, 46, 200, 37, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Background", IDD_ST_BGCOL, 25, 63, 75, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "Border", IDD_ST_BORDERCOL, 25, 50, 75, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "RX", IDD_ST_RXCOL, 110, 63, 75, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "TX", IDD_ST_TXCOL, 110, 50, 75, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP

    CONTROL "Graph time", IDD_GB_GRAPHTIME, 5, 5, 200, 40, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Slider", IDD_SLID_TIME, 12, 13, 105, 24, WC_SLIDER, 
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_BUTTONSRIGHT | SLS_PRIMARYSCALE1 | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CTLDATA 12, 0, 49, 0, 241, 0
    CONTROL "N min. NN sec.", IDD_ST_GRAPHTIME, 118, 13, 41, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
    CONTROL "~Interval:", IDD_ST_INTERVAL, 159, 27, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    PRESPARAMS PP_FOREGROUNDCOLOR, 0x0L
    CONTROL "", IDD_SB_INTERVAL, 159, 16, 24, 12, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_READONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_TABSTOP
    CONTROL "sec.", IDD_ST_SECONDS, 187, 16, 17, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE
  }
}

STRINGTABLE PRELOAD
{
  IDS_FLD_INDEX		"Index"
  IDS_FLD_DESCR		"Description"
  IDS_FLD_TYPE		"Type"
  IDS_FLD_MAC		"MAC address"
  IDS_FLD_SENT		"Bytes sent"
  IDS_FLD_RECV		"Bytes received"
  IDS_FLD_TXSPD		"Transmission speed"
  IDS_FLD_RXSPD		"Reception speed"
  IDS_SPEED		"Speed"
}
