#include "..\plugin.rc"
#include "sample3.h"

DLGTEMPLATE IDD_DSPROPERTIES
{
  DIALOG  "Sample3", IDD_DSPROPERTIES, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "Speed:", 1234, 10, 30, 50, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP

    CONTROL "~Fast", IDD_RB_FAST, 20, 10, 53, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE | WS_GROUP
    CONTROL "~Slow", IDD_RB_SLOW, 20, 20, 53, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE
  }
}
