#include "..\plugin.rc"
#include "os4irq.h"

ICON ID_ICON_ON         "led-green.ico"
ICON ID_ICON_OFF        "led-off.ico"

STRINGTABLE PRELOAD
{
  IDS_FLD_NUM           "IRQ No"
  IDS_FLD_COUNTER       "Counter"
  IDS_FLD_LOAD          "Load"
  IDS_FLD_NAME          "Name"
  IDS_FLD_LED           "Led"
  IDS_FLD_INCREMENT     "Increment"
  IDS_IPS               "Interrupts per sec."
  IDS_FLD_SHOW_NAME     "Show name"
  IDS_FLD_USER_DEF_NAME "User defined name"
  IDS_AUTO_DETECTED     "auto detected"
  IDS_USER_DEFINED      "user defined"
  IDS_PROP_OPTIONS      "Options"
  IDS_PROP_NAMES        "Names"
}

DLGTEMPLATE IDD_IRQ1
{
  DIALOG  "Options", IDD_IRQ1, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
  {
    CONTROL "Presentation of items", -1, 5, 46, 135, 56, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "", IDD_LB_FIELDS, 10, 50, 66, 44, WC_LISTBOX,
            LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Up", IDD_PB_UP, 80, 84, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Down", IDD_PB_DOWN, 80, 72, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Visible", IDD_CB_VISIBLE, 80, 58, 30, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Fixed width", IDD_CB_FIXEDWIDTH, 80, 50, 55, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "Graph", -1, 145, 46, 60, 56, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Background", IDD_ST_BGCOL, 150, 83, 50, 9, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "Border", IDD_ST_BORDERCOL, 150, 72, 50, 9, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "Line", IDD_ST_LINECOL, 150, 60, 50, 9, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "Thi~ck lines", IDD_CB_THICKLINES, 150, 49, 50, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "Graph time", -1, 5, 5, 200, 40, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Slider", IDD_SLID_TIME, 12, 13, 105, 24, WC_SLIDER, 
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_BUTTONSRIGHT | SLS_PRIMARYSCALE1 | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CTLDATA 12, 0, 49, 0, 241, 0
    CONTROL "N min. NN sec.", IDD_ST_GRAPHTIME, 118, 13, 41, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE

    CONTROL "~Interval:", -1, 159, 27, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    PRESPARAMS PP_FOREGROUNDCOLOR, 0x0L
    CONTROL "", IDD_SB_INTERVAL, 159, 16, 24, 12, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_READONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_TABSTOP
    CONTROL "sec.", -1, 187, 16, 17, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE

    CONTROL "~Undo", IDD_PB_UNDO, 75, 0, 35, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Default", IDD_PB_DEFAULT, 86, 0, 35, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | WS_VISIBLE
  }
}

DLGTEMPLATE IDD_IRQ2
{
  DIALOG  "Names", IDD_IRQ2, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
  {
    CONTROL "~IRQ:", -1, 5, 120, 25, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_SB_IRQ, 31, 119, 24, 12, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | SPBS_FASTSPIN |
            WS_VISIBLE | WS_TABSTOP

    CONTROL "S~how name:", -1, 62, 120, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "",  IDD_CB_SHOW_NAME, 103, 99, 90, 28, WC_COMBOBOX,
            CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE

    CONTROL "~Name:", -1, 5, 108, 25, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_USER_DEF_NAME, 31, 108, 163, 8, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
      CTLDATA 8, 128, 0, 0

    CONTROL "~Set", IDD_PB_SET, 155, 95, 40, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "", IDD_CN_NAMES, 5, 5, 200, 88, WC_CONTAINER,
            CCS_SINGLESEL | CCS_MINIRECORDCORE | WS_TABSTOP | WS_VISIBLE |
            CCS_READONLY | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

    CONTROL "~Undo", IDD_PB_UNDO, 75, 0, 35, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
  }
}

DLGTEMPLATE IDD_IRQNAME
{
  DIALOG  "IRQ %1 name", IDD_IRQNAME, -42, -6, 185, 39, FS_DLGBORDER,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
  {
    CONTROL "", IDD_EF_AUTODETECT, 61, 27, 120, 8, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_READONLY | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
      PRESPARAMS PP_BACKGROUNDCOLORINDEX, SYSCLR_DIALOGBACKGROUND
      CTLDATA 8, 512, 0, 0
    CONTROL "", IDD_EF_USERDEFINED, 61, 16, 120, 8, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
      CTLDATA 8, 128, 0, 0

    CONTROL "~Auto detect:", IDD_RB_AUTODETECT, 3, 27, 57, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~User defined:", IDD_RB_USERDEFINED, 3, 16, 57, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE

    CONTROL "~Ok", DID_OK, 2, 2, 28, 10, WC_BUTTON,
            BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE
    CONTROL "Ca~ncel", DID_CANCEL, 32, 2, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE
  }
}
