#include "..\plugin.rc"
#include "process.h"

STRINGTABLE PRELOAD
{
  IDS_PROC_TYPE_FS	"Fullscreen"
  IDS_PROC_TYPE_DOS	"DOS"
  IDS_PROC_TYPE_VIO	"Text mode"
  IDS_PROC_TYPE_PM	"Presentation manager"
  IDS_PROC_TYPE_DET	"Detached"
  IDS_PROC_TYPE_WINVDM	"Windowed DOS"
  IDS_FLD_TYPE		"Type"
  IDS_FLD_NAME		"Name"
  IDS_FLD_PID		"Process ID"
  IDS_DETAILS_FILE	"File"
  IDS_DETAILS_THREADS	"Threads"
  IDS_DETAILS_PARENT	"Parent"
  IDS_MI_KILL		"Kill %1 (PID %2)"
  IDS_MI_SWITCHTO	"Switch to: "
  IDS_MI_CLOSE		"Close: "
  IDS_EXPLORER_FILES	"~Files"
  IDS_EXPLORER_MODULES	"~Modules"
  IDS_EXPLORER_THREADS  "~Threads"
  IDS_EXPLORER_PROGRAM	"~Program"
  IDS_HANDLE		"Handle"
  IDS_FILE		"File"
  IDS_SIZE		"Size"
  IDS_DATE		"Date"
  IDS_TIME		"Time"
  IDS_ATTRIBUTES	"Attributes"
  IDS_FULLFNAME		"Full name"
  IDS_TID		"ID"
  IDS_PRIORITY		"Priority"
  IDS_PRIORITY_CLASS	"class"
  IDS_STATE		"State"
  IDS_STATE_READY	"Ready"
  IDS_STATE_BLOCKED	"Blocked"
  IDS_STATE_RUNNING	"Running"
  IDS_STATE_LOADED	"Loaded"
  IDS_PRTYC_IDLETIME	"Idle-time"
  IDS_PRTYC_REGULAR	"Regular"
  IDS_PRTYC_TIMECRIT	"Time-critical"
  IDS_PRTYC_FORESERV	"Fixed high"
}

MESSAGETABLE
{
  IDM_KILL_ASK		"Do you really want to kill process %1 (PID %2)?"
  IDM_CLOSE_ASK		"Do you really want to close window ""%1""?"
  IDM_KILL_FAIL		"Failed to kill process %1 (PID %2), error code: %3"
  IDM_KILL_FAIL_ZOMBIE	"Zombie process: %1 (PID %2)."
}


//	Explorer
//	========

DLGTEMPLATE IDD_EXPLORER
{
  DIALOG "Process explorer", IDD_PROPERTIES, 10, 10, 230, 195,
          NOT WS_SAVEBITS | FS_SIZEBORDER | WS_CLIPCHILDREN,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_MAXBUTTON | FCF_NOBYTEALIGN
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "", IDD_NOTEBOOK, 3, 21, 273, 182,
            WC_NOTEBOOK, BKS_BACKPAGESTR | BKS_MAJORTABTOP | BKS_TABBEDDIALOG |
            WS_GROUP | WS_TABSTOP | WS_VISIBLE
            PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
  }
}

//	Explorer page - files
//	---------------------

DLGTEMPLATE IDD_EXPLORER_FILES
{
  DIALOG  "Files", IDD_EXPLORER_FILES, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "", IDD_CONT_FILES, 0, 0, 218, 160, WC_CONTAINER,
      CCS_AUTOPOSITION | CCS_READONLY | CCS_SINGLESEL | WS_VISIBLE | WS_GROUP
  }
}

MENU ID_EXPFILES_POPUP_MENU
{
//  PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

  SUBMENU "Sor~t",			IDM_EXP_SORT, MIS_TEXT
  {
    MENUITEM "~Handles",		IDM_EXP_SORT_HANDLES, MIS_TEXT
    MENUITEM "~Name",			IDM_EXP_SORT_NAME, MIS_TEXT
    MENUITEM "~Full name",		IDM_EXP_SORT_FULLNAME, MIS_TEXT
    MENUITEM "~Size",			IDM_EXP_SORT_SIZE, MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "~Ascending",		IDM_EXP_SORT_ASCN, MIS_TEXT
    MENUITEM "~Descending",		IDM_EXP_SORT_DESCN, MIS_TEXT
  }

  MENUITEM "Copy ~name",		IDM_EXP_COPYNAME, MIS_TEXT
  MENUITEM "Copy ~full name",		IDM_EXP_COPYFULLNAME, MIS_TEXT
  MENUITEM "Open folder",		IDM_EXP_OPENPATH, MIS_TEXT
}

//	Explorer page - modules
//	-----------------------

DLGTEMPLATE IDD_EXPLORER_MODULES
{
  DIALOG  "Modules", IDD_EXPLORER_MODULES, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "", IDD_CONT_MODULES, 0, 0, 218, 160, WC_CONTAINER,
      CCS_AUTOPOSITION | CCS_READONLY | CCS_SINGLESEL | WS_VISIBLE | WS_GROUP
  }
}

MENU ID_EXPMOD_POPUP_MENU
{
//  PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"

  MENUITEM "Copy ~name",		IDM_EXP_COPYNAME, MIS_TEXT
  MENUITEM "Copy ~full name",		IDM_EXP_COPYFULLNAME, MIS_TEXT
}

//	Explorer page - threads
//	-----------------------

DLGTEMPLATE IDD_EXPLORER_THREADS
{
  DIALOG  "Threads", IDD_EXPLORER_THREADS, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "", IDD_CONT_THREADS, 0, 0, 218, 160, WC_CONTAINER,
      CCS_AUTOPOSITION | CCS_READONLY | CCS_SINGLESEL | WS_VISIBLE | WS_GROUP
  }
}

//	Explorer page - program
//	-----------------------

DLGTEMPLATE IDD_EXPLORER_PROGRAM
{
  DIALOG  "Threads", IDD_EXPLORER_PROGRAM, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "File:", IDD_ST_FILE, 5, 153, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_FILE, 46, 153, 166, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY
            CTLDATA 8, 512, 0, 0
    CONTROL "Size in bytes:", IDD_ST_SIZE, 5, 143, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_SIZE, 46, 143, 166, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY

    CONTROL "Date/Time", IDD_GB_DATETIME, 5, 92, 209, 44, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Creation:", IDD_ST_CREATION, 10, 118, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_CREATION, 51, 118, 157, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY
    CONTROL "Last write:", IDD_ST_LASTWRITE, 10, 108, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_LASTWRITE, 51, 108, 157, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY
    CONTROL "Last access:", IDD_ST_LASTACCESS, 10, 98, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_LASTACCESS, 51, 98, 157, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY

    CONTROL "Signature (BLDLEVEL)", IDD_GB_SIGNATURE, 5, 5, 209, 83, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Revision:", IDD_ST_REVISION, 10, 70, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_REVISION, 51, 70, 157, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY
    CONTROL "Vendor:", IDD_ST_VENDOR, 10, 60, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_VENDOR, 51, 60, 157, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY
    CONTROL "Date/Time:", IDD_ST_DATETIME, 10, 50, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_DATETIME, 51, 50, 157, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY
    CONTROL "Build Machine:", IDD_ST_BLDMACHINE, 10, 40, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_BLDMACHINE, 51, 40, 157, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY

    CONTROL "Language Code:", IDD_ST_LANGCODE, 10, 30, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_LANGCODE, 51, 30, 25, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY
    CONTROL "Country:", IDD_ST_CNTRCODE, 77, 30, 24, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_CNTRCODE, 102, 30, 106, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY

    CONTROL "FixPack Version:", IDD_ST_FIXPACK, 10, 20, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_FIXPACK, 51, 20, 157, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY
    CONTROL "Description:", IDD_ST_DESCR, 10, 10, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDD_EF_DESCR, 51, 10, 157, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP | ES_READONLY
            CTLDATA 8, 80, 0, 0
  }
}


//	Properties
//	==========

DLGTEMPLATE IDD_DSPROPERTIES
{
  DIALOG  "Processes", IDD_DSPROPERTIES, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "Confirmations", IDD_GB_CONFIRM, 5, 5, 200, 35, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP

    CONTROL "~Close window", IDD_CB_CLOSEPROG, 10, 20, 150, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Kill process", IDD_CB_KILLPROC, 10, 10, 150, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
  }
}
