#include "..\plugin.rc"
#include "traffic.h"

STRINGTABLE PRELOAD
{
  IDS_DS_TITLE			"~Traffic"

  IDS_MI_COMPACT		"~Compact view"
  IDS_MI_DETAILED		"~Detailed view"
  IDS_MI_EXPAND_ALL		"~Expand all"
  IDS_MI_COLLAPSE_ALL		"C~ollapse all"
  IDS_MI_FILTER			"~Filter..."
  IDS_MI_TRACE			"~Trace node"

  IDS_NODE_NAME			"Node name"
  IDS_SENT_BYTES		"Bytes sent"
  IDS_SEND_RATIO		"Send ratio"
  IDS_RECV_BYTES		"Bytes received"
  IDS_RECV_RATIO		"Receive ratio"

  IDS_INDEX			"N"
  IDS_TXRX			"TxRx"
  IDS_PROTOCOL			"Protocol"
  IDS_SOURCE			"Source"
  IDS_DESTINATION		"Destination"
  IDS_PKT_SIZE			"Size"
  IDS_TRACING			"Tr~acing"
  IDS_PAUSE			"P~ause"
}

MESSAGETABLE
{
  IDM_TIF_DELETE_CONF		"Do you really want to remove interface %1 and all corresponding filter nodes?"
  IDM_NODE_DELETE_CONF		"Do you really want to remove filter node ""%1""?"
  IDM_INVALID_NAME		"Invalid name of node."
  IDM_INVALID_SRCADDR		"Invalid source address."
  IDM_INVALID_DSTADDR		"Invalid destination address."
  IDM_INVALID_SRCPORT		"Invalid source port(s)."
  IDM_INVALID_DSTPORT		"Invalid destination port(s)."
  IDM_APPLY_CHANGES_CONF	"Do you want to apply the changes to the node?"
  IDM_RESET_CONF		"Reset counters of node?"
  IDM_RESET_BRANCH_CONF		"Reset all counters of branch?\n\n  YES\t\t- recurse nodes,\n  NO\t\t- counters of current node only,\n  CANCEL\t- do nothing.\n "
  IDM_RESET_TIF_CONF		"Reset counters in all nodes of this interface?"
}

//	Filter
//	======

DLGTEMPLATE ID_DLG_FILTER
{
  DIALOG "Filter", ID_DLG_FILTER, 10, 10, 250, 218,
          FS_SIZEBORDER | WS_CLIPCHILDREN | FS_NOBYTEALIGN | WS_SAVEBITS,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    /* Container for filter nodes */

    CONTROL "", ID_CONT_NODES, 0, 10, 100, 140, WC_CONTAINER,
/*      CCS_AUTOPOSITION | CCS_READONLY |*/ CCS_SINGLESEL | CCS_MINIRECORDCORE |
      WS_TABSTOP | WS_VISIBLE

    /* Right layer (node editor) */

    CONTROL "Node", ID_GB_NODE, 135, 13, 115, 205, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE

    CONTROL "Co~mment:", ID_ST_COMMENTS, 140, 204, 105, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", ID_MLE_COMMENTS, 140, 181, 105, 22, WC_MLE, 
            MLS_WORDWRAP | MLS_BORDER | MLS_IGNORETAB | MLS_VSCROLL |
            WS_TABSTOP | WS_VISIBLE

    CONTROL "~Stop scan nodes at this level", ID_CB_STOP, 140, 169, 105, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP

    CONTROL "Include ip-~header size", ID_CB_IPHDR, 140, 161, 105, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP

    CONTROL "~Protocol:", ID_ST_PROTO, 140, 151, 25, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "",  ID_CB_PROTO, 169, 115, 60, 44, WC_COMBOBOX,
            CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE

    CONTROL "S~ource address:", ID_ST_SRCADDR, 140, 141, 105, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", ID_LB_SRCADDR, 140, 111, 105, 30, WC_LISTBOX,
            LS_NOADJUSTPOS | LS_OWNERDRAW | WS_VISIBLE | WS_TABSTOP
    CONTROL "po~rts:", ID_ST_SRCPORT, 140, 100, 20, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", ID_EF_SRCPORT, 162, 101, 82, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP

    CONTROL "Destination ~address:", ID_ST_DSTADDR, 140, 90, 105, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", ID_LB_DSTADDR, 140, 60, 105, 30, WC_LISTBOX,
            LS_NOADJUSTPOS | LS_OWNERDRAW | WS_VISIBLE | WS_TABSTOP
    CONTROL "por~ts:", ID_ST_DSTPORT, 140, 49, 20, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", ID_EF_DSTPORT, 162, 50, 82, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP

    CONTROL "Sent:", ID_ST_SENT, 140, 36, 28, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLOR 0
    CONTROL "", ID_ST_SENTVAL, 170, 36, 74, 7, WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_BOTTOM | WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLOR 0
    CONTROL "Received:", ID_ST_RECV, 140, 28, 28, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLOR 0
    CONTROL "", ID_ST_RECVVAL, 170, 28, 74, 7, WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_BOTTOM | WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLOR 0

    CONTROL "Reset ~counters", ID_PB_RESET, 148, 15, 54, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "App~ly", ID_PB_APPLY, 205, 15, 40, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_DISABLED | WS_VISIBLE | WS_TABSTOP

    /* Bottom layer (buttons) */

    CONTROL "N~ew...", ID_PB_NEW, 0, 0, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Up", ID_PB_MOVE_UP, 32, 0, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_DISABLED | WS_VISIBLE | WS_TABSTOP
    CONTROL "Do~wn", ID_PB_MOVE_DOWN, 64, 0, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_DISABLED | WS_VISIBLE | WS_TABSTOP
    CONTROL "Nest~ing...", ID_PB_NESTING, 96, 0, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_DISABLED | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Delete", ID_PB_DELETE, 133, 0, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_DISABLED | WS_VISIBLE | WS_TABSTOP
    CONTROL "Help", ID_PB_HELP, 165, 0, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
  }
}

MENU ID_MENU_NEW
{
  MENUITEM "~Interface",		ID_MI_NEW_TIF, MIS_TEXT
  MENUITEM "~Before selected node",	ID_MI_NEW_BEFORE, MIS_TEXT, MIA_DISABLED
  MENUITEM "~After selected node",	ID_MI_NEW_AFTER, MIS_TEXT, MIA_DISABLED
  MENUITEM "A~t selected node",		ID_MI_NEW_AT, MIS_TEXT, MIA_DISABLED
}

MENU ID_MENU_NESTING
{
  MENUITEM "Attach to ~previous node",	ID_MI_NESTING_TOPREV, MIS_TEXT
  MENUITEM "Attach to ~next node",	ID_MI_NESTING_TONEXT, MIS_TEXT
  MENUITEM "One ~level up",		ID_MI_NESTING_UP, MIS_TEXT
}

MENU ID_MENU_NODE
{
  MENUITEM "~Trace",			ID_MI_NODE_TRACE, MIS_TEXT
  MENUITEM "~Rename",			ID_MI_NODE_RENAME, MIS_TEXT
  MENUITEM "~Delete",			ID_MI_NODE_DELETE, MIS_TEXT
  MENUITEM "Reset ~counters",		ID_MI_NODE_RESET, MIS_TEXT
}

DLGTEMPLATE ID_DLG_NEW_TIF
{
  DIALOG "New interface", ID_DLG_NEW_TIF, 10, 10, 122, 37,
          FS_NOBYTEALIGN, FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "~Name:", ID_ST_NAME, 5, 21, 30, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
    CONTROL "",  ID_CB_INTERFACE, 36, -17, 81, 47, WC_COMBOBOX,
            CBS_DROPDOWN | WS_TABSTOP | WS_VISIBLE
    CONTROL "Create", ID_PB_CREATE, 52, 5, 30, 10, WC_BUTTON,
            BS_DEFAULT | WS_VISIBLE | WS_TABSTOP
    CONTROL "Cancel", ID_PB_CANCEL, 87, 5, 30, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
  }
}


//	Properties
//	==========

DLGTEMPLATE ID_DLG_DSPROPERTIES
{
  DIALOG  "Traffic", ID_DLG_DSPROPERTIES, 0, 0, 240, 146,
          FS_NOBYTEALIGN | NOT FS_DLGBORDER
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "Calculating rates for groups", ID_GB_GROUPRATES, 5, 85, 200, 38, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
    CONTROL "~Maximum", ID_RB_GRRATES_MAX, 10, 106, 70, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP
    CONTROL "~Sum of rates", ID_RB_GRRATES_SUM, 10, 97, 70, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE
    CONTROL "~Average values", ID_RB_GRRATES_AVERAGE, 10, 88, 70, 8, WC_BUTTON,
            BS_AUTORADIOBUTTON | WS_VISIBLE

    CONTROL "Graph colors", ID_GB_COLORS, 5, 46, 200, 37, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Background", ID_ST_BGCOL, 25, 63, 75, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "Border", ID_ST_BORDERCOL, 25, 50, 75, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "RX", ID_ST_RXCOL, 110, 63, 75, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP
    CONTROL "TX", ID_ST_TXCOL, 110, 50, 75, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_TABSTOP

    CONTROL "Graph time", ID_GB_GRAPHTIME, 5, 5, 200, 40, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    CONTROL "Slider", ID_SLID_TIME, 12, 13, 105, 24, WC_SLIDER, 
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_BUTTONSRIGHT | SLS_PRIMARYSCALE1 | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CTLDATA 12, 0, 49, 0, 241, 0
    CONTROL "N min. NN sec.", ID_ST_GRAPHTIME, 118, 13, 41, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
    CONTROL "~Interval:", ID_ST_INTERVAL, 159, 27, 40, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | DT_MNEMONIC | WS_VISIBLE
    PRESPARAMS PP_FOREGROUNDCOLOR, 0x0L
    CONTROL "", ID_SB_INTERVAL, 159, 16, 24, 12, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_READONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_TABSTOP
    CONTROL "sec.", ID_ST_SECONDS, 187, 16, 17, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_BOTTOM | WS_VISIBLE
  }
}


//	Trace
//	=====

DLGTEMPLATE ID_DLG_TRACE
{
  DIALOG  "Trace", ID_DLG_TRACE, 0, 0, 200, 150,
          FS_DLGBORDER | FS_NOBYTEALIGN,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_SIZEBORDER | FCF_MAXBUTTON |
          FCF_CLOSEBUTTON
          PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  {
    CONTROL "", ID_CONT_RECORDS, 0, 15, 200, 131, WC_CONTAINER,
            CCS_SINGLESEL | CCS_MINIRECORDCORE | CCS_READONLY | WS_TABSTOP |
            WS_VISIBLE
    CONTROL "P~ause", ID_PB_PAUSE, 75, 0, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "C~lose", ID_PB_CLOSE, 86, 0, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
  }
}
